@import "minireset";
@import "fonts";

a {
	text-decoration: none;
	color: inherit;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: "roboto", sans-serif;
	font-size: 16px;
	color: #2E3440;
}

header {
	padding: 4rem 0;
	border-top: 8px solid;
	border-image: linear-gradient(to right, #8FBCBB 25%, #88C0D0 25%,  #88C0D0 50%, #81A1C1 50%,  #81A1C1 75%, #5E81AC 75%, #5E81AC 100%) 1;

	.wrap {
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		height: 6rem;
		max-width: 1200px;
		width: 100%;
	}

	a.logo {
		height: 100%;

		img { height: inherit; }
	}

	section {
		height: 100%;
		display: flex;
		flex-direction:column;
		justify-content: space-between;
		padding: .3rem 0 .1rem 0;
	}

	nav {

		ul {
			display: flex;
			position: relative;

			a { padding: .9rem }
			li:hover { color: var(--color) }

			li:hover ul { display: grid }

			ul {
				grid-template-columns: auto auto;
				display: none;
				position: absolute;
				left: 0;
				top: 100%;
				width: 100%;
				margin-top: .9rem;
				padding: 1rem;
				background-color: #FFF;
				border-top: 5px solid var(--color);
				box-shadow: 0px 1px 9px #00000033;
				font-size: 1rem;
				font-weight: normal;
				color: #2E3440;

				a {
					display: flex;
					align-items: center;
					padding: .5em;

					&:hover { color: var(--color) }
					.icon {
						color:  var(--color);
						margin-right: .4em;
						font-size: 1.5em;
					}
				}

			}
		}
	}

	nav.secondary {
		font-size: .9rem;
		color: #4C566A;

		a:hover {
			text-decoration: underline;
		}
	}

	nav.primary {
		font-weight: bold;
		font-size: 1.2em;

		a::after {
			content: "";
			display: inline-block;
			background: url("nav-arrow.svg") center center no-repeat;
			background-width: 100%;
			width: .5em;
			height: 50%;
			margin-left: .4em;
		}
	}
}

main {
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
	padding: 1rem;

	&.index {
		max-width: 1200px;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: bold;
		margin: 2em 0 1em 0;
	}
	h1 { font-size: 2em }
	h2 { font-size: 1.6em }
	h3 { font-size: 1.2em }
	p {
		line-height: 1.5;
		margin: 1em 0;
	}

	section {
		margin-bottom: 5rem;
	}

	.blocks {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 1rem;
		grid-row-gap: 2rem;
		align-items: stretch;

		article {
			display: flex;
			flex-direction: column;
			height: 100%;
			padding: 1em;
			border-top: 5px solid #5E81AC;
			font-size: .85em;

			&:hover {
				box-shadow: 0px 1px 9px #00000033;
			}

			.title {
				font-weight: bold;
				font-size: 1.3em;
				margin: .5em 0;
			}

			.date {
				display: block;
				width: 100%;
				margin-top: auto;
				text-align: right;
				font-size: 0.8em;
				color: #81A1C1;
			}
		}
	}

	.websites {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		text-align: center;

		.title {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 3rem;
			margin: .4em 0;

			img {
				max-width: 64%;
				max-height: 100%;
			}
		}
	}

	.centering {
		text-align: center;
	}
}

footer {
	margin-top: auto;
	padding: 3em;
	text-align: center;
	color: #ECEFF4;
	background-color: #2E3440;
	border-top: 5px solid;
	border-image: linear-gradient(to right, #BF616A 20%, #D08770 20%, #D08770 40%, #EBCB8B 40%, #EBCB8B 60%, #A3BE8C 60%, #A3BE8C 80%, #B48EAD 80%) 5;

	p:nth-child(2) {
		margin-top: 1rem;
		font-weight: bold;
	}
}

div.rambotron {
	width: 100%;
	text-align: center;
	color: #ECEFF4;
	background: linear-gradient(rgba(94, 129, 172, 0.95), rgba(94, 129, 172, 0.95)), url("rambotron.jpg") center center no-repeat;
	background-size: cover;

	h1 {
		font-size: 2em;
		font-weight: bold;
		margin: 1em 0 .8em 0;
	}

	p {
		max-width: 40em;
		margin: 0 auto;
		line-height: 1.5;
		font-size: .9rem;
	}

	.links {
		background-color: #3B4252;
		margin-top: 2.5rem;

		ul {
			display: flex;
			justify-content: center;

			a {
				display: block;
				padding: 1.1rem;
				margin: 0 1rem;

				&:hover {
					background-color: #2E3440;
				}
			}
		}
	}
}

div.breadcrumbs {
	border-top: 1px solid #D8DEE9;
	font-size: .9em;

	.wrap {
		margin: 0 auto;
		display: flex;
		max-width: 1200px;
		width: 100%;
	}

	a.home {
		display: flex;
		align-items: center;

		img { height: 1.5em }
	}

	ul {
		display: flex;
		margin-left: .9rem;

		li {
			display: flex;
			align-items: center;

			&::before {
				content: "\203A";
				margin: 0 1em;
				font-weight: bold;
				color: #D8DEE9;
			}

			a {
				display: inline-block;
				padding: 1rem;

				&:hover { text-decoration: underline }
			}

			&:last-child { font-weight: bold }
		}
	}
}
