<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		{%- block title -%}
			{{ config.title }}
		{%- endblock title -%}
	</title>
	<link rel="stylesheet" href="{{ get_url(path="main.css") | safe }}">
</head>
<body>
	<header>
	</header>
	<main>
		{% block content %}{% endblock content %}
	</main>
	<footer>
		<p>Magdalény Rettigové 4, 116 39, Praha 1</p>
		<p>Praha UK PedF KITTV, {{ now() | date(format="%Y") }}</p>
	</footer>
</body>
</html>
