<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		{%- block title -%}
			{{ config.title }}
		{%- endblock title -%}
	</title>
	<link rel="stylesheet" href="{{ get_url(path="main.css") | safe }}">
</head>
<body>
	<header>
		<div class="wrap">
			<a href="{{ config.base_url }}" class="logo"><img src="{{ get_url(path="logo.svg") }}" alt="Logo KITTV"></a>
			<section>
				<nav class="secondary">
					{% if config.extra.nav_secondary %}
						<ul>
							{% for item in config.extra.nav_secondary %}
								<li><a href="{{ item.path }}">{{ item.name }}</a></li>
							{% endfor %}
						</ul>
					{% endif %}
				</nav>
				<nav class="primary">
					{% if config.extra.nav_primary %}
						<ul>
							{% for item in config.extra.nav_primary %}
								<li><a href="{{ item.path }}">{{ item.name }}</a></li>
							{% endfor %}
						</ul>
					{% endif %}
				</nav>
			</section>
		</div>
	</header>
	<main>
		{% block content %}{% endblock content %}
	</main>
	<footer>
		<p>Magdalény Rettigové 4, 116 39, Praha 1</p>
		<p>Praha UK PedF KITTV, {{ now() | date(format="%Y") }}</p>
	</footer>
</body>
</html>
