{% extends "base.html" %}

{% block styles %}
	<link rel="stylesheet" href="{{ get_url(path="fancybox/fancybox.css") }}">
{% endblock styles %}

{% block extra %}
	{{ macro::breadcrumbs(page=page) }}
{% endblock %}

{% block content %}
	<main class="fullwidth">
		<section class="centering">
			<h1>{% if page.extra.heading %}
				{{ page.extra.heading }}
			{% else %}
				{{ page.title }}
			{% endif %}</h1>
			{{ page.content | safe }}
			{{ macro::gallery(page=page) }}
		</section>
	</main>
{% endblock content %}

{% block javascript %}
	<script src="{{ get_url(path="fancybox/fancybox.js") }}"></script>
	<script>Fancybox.bind("[data-fancybox]", {});</script>
{% endblock %}
