{% extends "base.html" %}

{% block extra %}
	<div class="rambotron">
		<h1>O katedře</h1>
		<p>Katedra informačních technologií a technické výchovy Pedagogické fakulty Univerzity Karlovy je báječné místo, kde můžete získat kvalitní vzdělání v oblasti ICT. Tento krásný web je toho důkazem. Srší to tu talentem, entusiazmem i odhodlaností. Jsme zastánci čistého kódu, svobodného softwaru a piva.</p>
		<div class="links">
			{{ macro::nav_list_items(items=config.extra.nav_rambotron) }}
		</div>
	</div>
{% endblock extra %}

{% block content %}
	<main class="index">
		<section>
			<h1 class="centering">Aktuality</h1>
			<div class="blocks">
				{% set section = get_section(path="aktuality/_index.md") %}
				{{ macro::list_posts(section=section) }}
			</div>
		</section>
		<section>
			<div class="websites blocks">
				{% set section = get_section(path="spratelene-weby/_index.md") %}
				{{ macro::list_posts(section=section) }}
			</div>
		</section>
	</main>
{% endblock content %}
