{% extends "base.html" %}

{% block header %}
	<header>
		<div class="wrap">
			<a href="{{ config.base_url }}" class="logo"><img src="{{ get_url(path="logo.svg") }}" alt="Logo KITTV"></a>
			<section>
				<nav class="secondary">
					{{ macro::nav_list_items(items=config.extra.nav_secondary) }}
				</nav>
				<nav class="primary">
					{{ macro::nav_list_items_main(items=config.extra.nav_primary) }}
				</nav>
			</section>
			<nav class="mobile">
				<div class="buttons">
					<i class="ri-menu-3-line" id="mobile-nav-button"></i>
				</div>
				<div class="floating" id="mobile-nav">
					{{ macro::nav_list_items_main(items=config.extra.nav_primary) }}
				</div>
			</nav>
		</div>
		</header>
{% endblock header %}

{% block extra %}
	<div class="rambotron">
		<h1>KITTV</h1>
		<p>Katedra informačních technologií a technické výchovy je vědeckopedagogické pracoviště orientované primárně do oblasti informačních a komunikačních technologií ve vzdělávání, resp. digitální technologie v profesi učitele, ve vyučování a učení a do oblasti informačně technologické výchovy, resp. didaktiky informatiky a informačně technologické výchovy.</p>
		<div class="links">
			{{ macro::nav_list_items(items=config.extra.nav_rambotron) }}
		</div>
	</div>
{% endblock extra %}

{% block content %}
	<main class="index">
		<section>
			<h1 class="centering">Aktuality</h1>
			<div class="blocks noshadow">
				{% set section = get_section(path="aktuality/_index.md") %}
				{{ macro::list_posts(section=section) }}
			</div>
			<div class="centering">
				<a href="aktuality" class="button">Starší příspěvky</a>
			</div>
		</section>
		<section>
			<div class="websites blocks">
				{% set section = get_section(path="spratelene-weby/_index.md") %}
				{{ macro::list_external_links(section=section) }}
			</div>
		</section>
	</main>
{% endblock content %}
