{% extends "base.html" %}

{% block extra %}
	{{ macro::breadcrumbs(page=section) }}
{% endblock %}

{% block content %}
	<main>
		<section class="centering">
			<h1>{{ section.title }}</h1>
			{{ section.content | safe }}
		</section>
		<section class="people-list">
			<h2>Vedení katedry</h2>
			{{ macro::list_people(group="vedeni") }}
			<h2>Vědecko-pedagogičtí pracovníci</h2>
			{{ macro::list_people(group="ucitele") }}
			<h2>Odborní pracovníci</h2>
			{{ macro::list_people(group="odborni-pracovnici") }}
		</section>
	</main>
{% endblock content %}
