{% extends "thesis-library.html" %}

{% block styles %}
	<link rel="stylesheet" href="{{ get_url(path="thesis-library.css") }}" type="text/css">
	{% if page.extra.gallery %}
		<link rel="stylesheet" href="{{ get_url(path="fancybox/fancybox.css") }}">
	{% endif %}
{% endblock %}

{% block extra %}
	{{ macro::breadcrumbs(page=page) }}
{% endblock %}

{% block content %}
	<main class="narrow">
		<section>
			<div class="header">
				{% for asset in page.assets -%}
					{%- if asset is matching("[preview.](jpg|png)$") -%}
						{% set image = resize_image(path=asset, width=800, height=300, op="fill") %}
						<img src="{{ image.url }}" alt="preview">
					{%- endif %}
				{%- endfor %}
				{% if page.extra.tags %}
					<div class="tags">
						{% for tag in page.extra.tags %}
							<span>{{ tag }}</span>
						{% endfor %}
					</div>
				{% endif %}
				<h1>{{ page.title }}</h1>
				<div class="meta">
					<ul>
						<li><i class="ri-user-line"></i> <strong>{{ page.extra.author }}</strong></li>
						<li><i class="ri-calendar-line"></i> {% if page.extra.year %}{{ page.extra.year }}{% else %}{{ page.date | date(format="%-d. %-m. %Y") }}{% endif %}</li>
						{%- if page.extra.pdf -%}
						<li><i class="ri-file-pdf-2-line"></i> <a href="{{ page.extra.pdf }}" target="_blank" rel="noopener nofollow noreferrer">Text práce</a></li>
						{%- endif %}
					</ul>
				</div>
			</div>
			{{ page.content | safe }}
		</section>
		{% if page.extra.gallery %}
			<section>
				<h2>Galerie</h2>
				<div class="gallery">
					{% for asset in page.assets %}
						{% if asset is matching("(?i)gallery/.+[.](jpg|jpeg|png|webp|mp4|mov|webm)") %}
							{% if asset is matching("(?i)(mp4|mov|webm)") %}
								{% set image = resize_image(path="static/placeholder-video.jpg", width=300, height=200, op="fill") %}
								<a data-fancybox="{{ page.title }}" href="{{ get_url(path=asset) }}" data-type="html5video"><img src="{{ image.url }}" alt="{{ asset }}"></a>
							{% else %}
								{% set image = resize_image(path=asset, width=300, height=200, op="fill") %}
								<a data-fancybox="{{ page.title }}" href="{{ get_url(path=asset) }}"><img src="{{ image.url }}" alt="{{ asset }}"></a>
							{% endif %}
						{% endif %}
					{% endfor %}
				</div>
			</section>
		{% endif %}
	</main>
{% endblock content %}

{% block javascript %}
		{% if page.extra.gallery %}
			<script src="{{ get_url(path="fancybox/fancybox.js") }}"></script>
			<script>Fancybox.bind("[data-fancybox]", {});</script>
		{% endif %}
{% endblock %}
